.n-margin-xs-8{
    margin-left: 0 !important;
}

@media (max-width: 768px){
    .n-margin-xs-8{
        margin-left: 6% !important;
    }

    .w-25{
        width: 38% !important;
    }
}

@media (min-width: 1920px) and (max-width: 2660px) {
    .n-margin-xs-8{
        margin-left: -7% !important;
    }
}