
.img-fluid{
    width: 100%;
    }
    .line{
        width: 1px;
    }
    .left-panel{
        background: url('../icons/Group\ 269.png') no-repeat center center / cover;
        background-color: #00acc1;
    }

    .form-inline{
        min-height: 54vh;
    }
    
    .logo {
        /* max-width: 100px; */
        width: 50%;
    
        height: auto;
    }
    
    .form-title {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 20px;
    }
    
    .form-control {
        width: 100%;
        padding: 12px 40px 12px 40px;
        font-size: 12px;
        border: 1px solid #ddd;
        border-radius: 5px;
        outline: none;
    }
    
    .input-icon {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #999;
        width: 1rem;
    }
    .field-icons{
        width: 1rem;
    }
    
    .toggle-password {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        color: #999;
    }
    
    .separator {
        display: flex;
        align-items: center;
        text-align: center;
    }
    
    .separator span {
        padding: 0 10px;
        color: #aaa;
    }
    
    .separator::before,
    .separator::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #ddd;
    }
    
    .btn-primary {
        background-color: #015968;
        color: #fff;
    }
    .toggle-button.active {
        background-color: #015968;
        color: #fff;
    }
    
    
    
    a {
        color: #00796b;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }

    .error {
        color: red;
        font-size: 12px;
        position: absolute;
        top: -18px;
        left: 0;
        visibility: hidden;
        padding-top: 1%;
    }
    
    .error-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        color: red;
        visibility: hidden;
    }
    
    .input-error {
        border: 1px solid red;
    }

    
.captcha-container {
    border: 2px dotted #000;
    padding: 5px 15px;
    font-weight: bold;
    margin-bottom: 0;
    background: url("../icons/captcha.jpg") no-repeat center center / cover;
}




